/*CSS RESET*/
*::after,
*::before,
* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
  /* background-color: hsla(0, 100%, 50%, 0.05); */
}
* {
  margin: 0;
  padding: 0;
}

/*|| UTILITY CLASSES*/
.whiteOnGreenBg {
  background-color: #53a303;
  color: white;
}
.mainBg {
  background-color: #f6f6f8;
}
.greenOnGreyBg {
  color: #318507;
  background-color: #e9e9ec;
}
.blackOnWhiteBg {
  background-color: #fcfcff;
  color: black;
}
.greyOnDGrey {
  background-color: #f6f6f8;
  color: #8c8c91;
}
.redOnGrey {
  background-color: #e9e9ec;
  color: #d93e36;
}
/*|| GENERAL STYLES*/
body {
  background-color: black;
  display: grid;
  padding: 0.5vh 0rem;
  place-content: center;
}
.output {
  border-bottom: 2px grey solid;
  font-size: 4rem;
  height: 26vh;
  max-width: 400px;
  padding: 1rem;
  text-align: right;
  width: 99vw;
}
.functional-button {
  aspect-ratio: 2.5/1;
  border-radius: 50px;
  border: transparent;
  height: 8vh;
  outline: transparent;
  place-self: center;
}
.keys {
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: transparent;
  height: 10vh;
  outline: transparent;
  place-self: center;
}
button {
  cursor: pointer;
  font-size: 2rem;
}
button:active {
  background-color: #cbcbcd;
}
.main-container {
  border-radius: 25px;
  border: solid 4px grey;
  display: grid;
  gap: 10px 20px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(7, auto);
  place-content: center;
  grid-template-areas:
    "o o o o"
    "fb1 fb1 fb2 fb2"
    "k1 k2 k3 k4"
    "k5 k6 k7 k8"
    "k9 k10 k11 k12"
    "k13 k14 k15 k16"
    "k17 k18 k19 k20";
}
/* || GRID AREAS */
.output {
  grid-area: o;
}
.fb1 {
  grid-area: fb1;
}
.fb2 {
  grid-area: fb2;
}
.keys {
  grid-area: k;
}
.k1 {
  grid-area: k1;
}
.k2 {
  grid-area: k2;
}
.k3 {
  grid-area: k3;
}
.k4 {
  grid-area: k4;
}
.k5 {
  grid-area: k5;
}
.k6 {
  grid-area: k6;
}
.k7 {
  grid-area: k7;
}
.k8 {
  grid-area: k8;
}
.k9 {
  grid-area: k9;
}
.k10 {
  grid-area: k10;
}
.k11 {
  grid-area: k11;
}
.k12 {
  grid-area: k12;
}
.k13 {
  grid-area: k13;
}

.k14 {
  grid-area: k14;
}
.k15 {
  grid-area: k15;
}
.k16 {
  grid-area: k16;
}
.k17 {
  grid-area: k17;
}
.k18 {
  grid-area: k18;
}
.k19 {
  grid-area: k19;
}
.k20 {
  grid-area: k20;
}
